<!DOCTYPE html>
<html>
<head><title>관리자 로그인</title></head>
<body>
<h2>비밀번호 입력</h2>
<form action="/login" method="POST">
    <input type="password" name="password" required />
    <button type="submit">로그인</button>
</form>
<% if (typeof error !== 'undefined') { %>
    <p style="color:red;"><%= error %></p>
<% } %>
</body>
</html>
